.bidding-container {
  border: 2px solid gray;
}

.bidding-card {
  position: relative;
  &:hover {
    cursor: pointer;
    box-shadow: gray 0px 0px 5px 5px;
    border: 2px solid white;
  }
  display: inline-block;
  margin: 20px;
  padding: 5px;
  width: 350px;
  height: 210px;
  border: 2px solid #321321;

  &.timeout {
    &:after {
      content: "";
    }
  }

  &.pending {
    background-color: orange;
  }

  &.placed {
    background-color: lightgreen;
  }
  &.to-be-placed {
    background-color: lightskyblue;
  }

  &.error {
    background-color: hotpink;
  }

  .countdown-text {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    font-weight: 600;
  }
}
