.bidding-container {
  background-color: honeydew;
  display: grid;
  grid-template-columns: 383px auto;
  grid-template-rows: 260 auto;
  grid-column: 3;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  min-width: 1024px;
  min-height: 768px;
}

.feedback-area {
  border: 2px solid gray;
  background-color: grey;
}
