.place-bet-form {
  position: relative;
  .div {
    padding: 20px;
  }
  input{
      margin-left:10px;
      margin-left:10px;
  }
}

.form-group {
  position: relative;
  display: inline-block;
}
.input-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.odds-input {
  max-width: 80px;
}
